@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animation for Fade In used in the game */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}